@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;1,200;1,500&display=swap');

:root {
    --bg-color: #53389E;
    --primary-color: #BCA7EB;
    --accent-color: #8258DE;
    --text-color: #F5F1FE;
    --button-color: #31205F;

    --button-font-size: calc(.25rem + 1vw)

}

body {
    background-color: #53389E;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2vh;
    width: 90vw;          
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    border-bottom: .25px solid var(--primary-color);
}

.nav-and-button{
    display: flex;
    justify-content: space-between;
    gap: 5vw; /* optional, adjust this value to increase/decrease the space between the nav and the button */
}

.side-menu {
    display: none;
}


.header-icon {
    width: 10vw;       /* Specify the width */
    height: 10vh;
    justify-content: center;
    padding-bottom: 2vh;
}

.header-text{
    margin: 0;
    display: flex;
    align-items: center;
}

.header-buttons {
    background-color: var(--accent-color);
    font-family: 'Montserrat', sans-serif;
    font-size: calc(.25rem + 1vw);
    color: white;
    border: none;
    border-radius: 28px;
    padding: 2vh 3vw;

}

.header .menu-ico,
.header .close-ico {
    display: none;
}

.header-navigation {
    display: flex;
    align-items: center;
    gap: 1vw;
}

.header-navigation a{
    text-decoration: none;
    color: #F5F1FE;
    font-size: calc(.25rem + 1vw);
    font-weight: 400;
    margin-left: 1vw;

}

.hero {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10vh;
}

.hero-heading {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto; /* Adjust this if needed; it sets the height of the hero-heading to the full height of the viewport */
    margin-bottom: 2vh;
    margin-top: 2vh;
}

.hero-header {
    text-align: center;
    font-size: calc(1rem + 2vw);
    font-weight: 450;
    color: white;
    margin-bottom: 1vh;
}

.hero-subheader {
    text-align: center;
    font-size: calc(.25rem + 1vw);
    font-weight: 400;
    color: var(--primary-color);
    margin-top: none;
}

.hero-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.hero-diagram {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 40%;
}

.scope{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10vh;
}

.scope-header {
    font-size: calc(2rem + 1.5vw);
    font-weight: 450;
    color: var(--primary-color);
    margin-bottom: 4vh;
    font-family: 'Montserrat', sans-serif;
}

.scope-items{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5vw;
}

.scope-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    border: var(--primary-color) 4px solid;
    border-radius: 15px;
    padding: 2vh  2vw;
}

.scope-item > * {
    font-size: calc(2rem + .5vw);
    color: var(--primary-color);
    margin: 0 0 0 0;
}

.services {
    display: flex; /* This makes .services a flex container */
    flex-direction: row; /* This makes .services display its children in a row */
    align-items: flex-start; 
    background: var(--primary-color);
    margin:  5vh auto;
    border-radius: 2px;
    font-family: 'Montserrat', sans-serif;
    height: fit-content;
    width: 90vw;
    align-self: center;
}

.services-content-spread {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.services-image{
    display: flex;
    width: 45vw;
    height: auto;
    margin: 0 auto;

}

.services-illustration {
    width: fit-content;
    height: 100%;
    align-content: center;
    margin-top: auto;
    margin-bottom: auto;
}

.services-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px auto;
    margin-bottom: 8vh;
}

.services-right {
    width:20vw;
    margin-left: 3vw;
    max-height: 100px;
}

.services-left {
    width:20vw;
    align-items: center;
}

.services-header {
    font-size: calc(1rem + 2vw);
    font-weight: 450;
    color: var(--bg-color);
    margin-bottom: 1vh;
    border-bottom: .5px solid var(--bg-color);
}

.services-text-heading {
    font-size: calc(1rem + 1.5vw);
    font-weight: 450;
    color: var(--bg-color);
    margin-top: 2vh;
    margin-bottom: 1vh;

}

.services-text-body {
    font-size: calc(.25rem + .75vw);
    font-weight: 400;
    color: var(--bg-color);
    margin-bottom: 5px;
    width: auto;
}


.custom-list {
    list-style-type: none; /* This removes the default list markers */
    padding-left: 0; /* This removes the default padding on the left side of lists */
    padding-top: 0; /* Added to remove top padding */
    margin-top: 0; /* Added to remove top margin */
    height: auto;
}

.custom-list li {
    display: flex; /* This makes the list items display in a row */
    align-items: center; /* This vertically centers the icon and text */
    gap: 2vw; /* This adds some space between the icon and the text */
    width: auto;
    font-size: calc(.25rem + 1vw);
    color: var(--bg-color);
    margin-top: 3vh;
}

.services-icon {
    color: var(--bg-color);
    font-size: calc(.5rem + 1vw);
}

.packages {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.packages-header{
    font-weight: 300;
    color: white;
    text-align: center;
}

.packages-header-heading {
    font-size: calc(1rem + 2vw);
    font-weight: 400;
    margin-bottom: .5vh;
}

.packages-header-subheading {
    max-width: 50vw;
    font-size: calc(.75rem + .25vw);
    font-weight: 200;
}

.packages-cards {
    display: flex;
    justify-content: space-between; /* Adjusts the spacing between cards */
    flex-wrap: wrap; /* Allows the cards to wrap to the next line on smaller screens */
}

.packages-card {
    background-color: var(--accent-color); /* Set your desired color */
    width: 20vw;
    height: auto;
    color: white; /* Sets the text color, adjust as needed */
    font-family: 'Montserrat', sans-serif; /* Sets the font, adjust as needed */
    margin:20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers the content vertically */
    justify-content: center; /* Centers the content horizontally */
    padding: 20px; /* Adds some space inside each card */
    box-sizing: border-box; /* Makes sure padding and border are included in the element's total width and height */
    border-radius: 6px; /* Optional: adds rounded corners to the cards */
}

.packages-card-header i {
    font-size: calc(3rem + 2vw); /* Add this line to adjust the icon size */
    margin-bottom: 2vh; 
    margin-top:5vh;
    width: auto;
    height: auto;
}


.packages-card-header-content {
    min-width: 75px;
    text-align: center;
    font-size: calc(1rem + 1vw);
}

.packages-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: var(--primary-color);
    font-size: calc(.5rem + 1vw);
}

.community {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 5vh;
    margin-top: 5vh;
    font-family: 'Montserrat', sans-serif;
}

.community-content {
    display: flex;
    justify-content: space-between; /* Adjusts space between left and right divs */
    align-items: center; /* Aligns items to the top of the div */
}


.community-left {
    display:flex;
    flex-direction: column;
    margin-left: 10vw;
}

.community-right {
    width: auto;
    margin-left: 20vw;
    margin-right: 10vw;
}

.community-image {
    width: 100%;
    height: auto;    
}

.community-heading {
    font-size: calc(1rem + 2vw);
    font-weight: 400;
    color: white;
    border-bottom: .5px solid var(--bg-color);
}

.community-body {
    font-size: calc(.75rem + .75vw);
    font-weight: 400;
    color: var(--primary-color)
}

.community-button {
    background-color: var(--button-color);
    font-family: 'Montserrat', sans-serif;
    font-size: calc(.75rem + 1vw);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 2vh 2vw;
    margin-top: 3vw;
    align-content: center

}

.mobile {
    display: flex; /* This makes .mobile a flex container */
    flex-direction: row; /* This makes .mobile display its children in a row */
    align-items: flex-start; 
    border-radius: 2px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 15vh;
    min-height: 100%;
}


.mobile-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-left:3vw;

}

.mobile-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 5vw;
    margin-right: 5vw;

}

.mobile-left {
    margin-left: 2vw;
    width: 35vw;
}

.mobile-right{
    display: flex;
    flex-direction: column;
    width: 45vw;
    align-items: center;
    justify-content: center;
    margin-left: 5vw;
}

.mobile-heading {
    font-size:calc(1rem + 2vw);
    font-weight: 425;
    text-align: center;
    color: white;

}

.mobile-body {
    font-size: calc(.75rem + .75vw);
    font-weight: 400;
    color: var(--primary-color);
    width: auto;
}

.features-title {
    color:white;
    font-size: calc(1rem + .75vw);
    font-weight:200;
}

.features-list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2vh;
}

.features-list li {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Centers the items horizontally */
    gap: 5vw;
    max-height: 75px;
    width: auto;
    font-size: calc(1rem + .5vw);
    color: white;
    margin-bottom: 5vh;
    margin-top: 2vh;
}


.features-icon{
    display:flex;
    font-size: calc(2rem + 2vw); /* Add this line to adjust the icon size */
    justify-content: center;
    align-items: center;
    align-self:center;
    width: auto;
    height: auto;    

}

.features-item-text {
    font-size: calc(.75rem + .75vw);
    height: auto;
    width:auto;
    text-align: center;
    align-self:center;
    margin-left: 15px;
}

.mobile-features-small {
    display: none;
}

.mobile-features-small ul {
    padding: 0;
}

.mobile-button {
    display:flex;
    background-color: var(--accent-color);
    font-family: 'Montserrat', sans-serif;
    font-size: calc(.75rem + .75vw);
    color: white;
    border: none;
    border-radius: 15px;
    padding: 2vh 4vw;
}


.mobile-features {
    display: flex;
    flex-direction: column;
    justify-content: center; /* vertically center content */
    align-items: flex-start; /* align content to the left */
    height: 100%; /* this will stretch the container to fill the parent height */
}



.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--button-color);
    margin-top: 15vh;

}


.footer-icon {
    width: 20vw;
    height: auto;
    margin-left: 2vw;
    margin-right: 15vw;
}

.footer-text{
    margin: 0;
    display: flex;
    align-items: center;
}

.footer-button {
    background-color: var(--accent-color);
    font-family: 'Montserrat', sans-serif;
    font-size: calc(.75rem + .75vw);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 1vh 2vw;
    margin-right: 2vw;

}

.footer .menu-ico,
.footer .close-ico {
    display: none;
}

.footer-navigation {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    align-items: left;
    margin-top:2vh;
}

.footer-navigation a{
    text-decoration: none;
    color: #F5F1FE;
    font-size: calc(.75rem + .25vw);
    font-weight: 500;
    margin-left: 10px;
}

.footer-navigation-title {
    color: #F5F1FE;
    font-size:  calc(.75rem + .75vw);
    font-weight: 450;
    margin-left: 10px;
    align-content: left;
    margin-bottom: 5px;
}

.footer-location {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 5vw;;
    width: 20vw;
}

.footer-location-title {
    color: #F5F1FE;
    font-size: calc(.75rem + .75vw);
    font-weight: 400;
    align-content: left;
    margin-bottom: 5px;
}

.footer-location-text {
    color: #F5F1FE;
    font-size: calc(.75rem + .25vw);
    font-weight: 400;
}

.menus {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
    width: auto;          
    height: auto;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--button-color);
}

.nav-and-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: auto;         
    height: auto;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--button-color);
    margin-top: 2vh;
}

.footer-extended {
    background-color: var(--button-color);
    display: flex;
    justify-content: space-between; /* This makes sure there is space between the left and right sections */
}

.footer-extended-content {
    display: flex;
    justify-content: space-between; /* This makes sure there is space between "Privacy Policy" and "Terms of Use" */
    width: 100%; 
    }

.footer-extended-left, .footer-extended-right {
    display: flex; /* This ensures the content within these divs is lined up horizontally */
}

.footer-extended-text {
    font-size: calc(.5rem + .25vw); /* This will make the text smaller. Adjust the pixel value as needed. */
    margin-right: 5vw; /* Adds some space to the right of each paragraph. Remove or adjust as needed. */
    margin-left: 5vw;
    color: var(--primary-color);
}

a {
    text-decoration: none;
    color: var(--primary-color); /* Change the hex color code to any color you want */
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    /* CSS rules for extra small devices */

    .header {
        justify-content: space-between;
    }

    .header-icon {
        width: 30%;
        height: auto;
    }

    .side-menu {
        display: block;
        font-size: calc(1rem + 1vw);
        color: white;
        cursor: pointer;
        margin-left: 50vw;
    }
    
    .header-navigation {
        flex-direction: column;
        position: fixed;
        background-color: #31205F;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        display: none;
        
    }

    .header-navigation a{
        font-size: calc(1rem + 1vh);
        display: block;
        text-align: center;
        margin: 5vw 0;
    }

    body.no-scroll {
        overflow: hidden;
    }

    .close-icon{
        font-size: calc(2rem + 5vh);
        margin-bottom: 5vh;
    }

    .header-buttons{
        display: none;
    }

    .hero-diagram{
        width: 80vw;
        height: auto;
        margin-bottom: 5vh;
    }

    .hero {
        margin-bottom: 0;
    }

    .hero-header {
        width: 90vw;
    }

    .hero-subheader {
        font-size: 1rem;
    }

    .scope-header{
        font-size: calc(1rem + 2vw);
    }

    .scope-items {
        flex-direction: column;
        align-items: center;
        gap: 2vh;
    }

    .scope-item {
        border: var(--primary-color) 2px solid;
        width: 100%;
        margin-left: 2vw;
        margin-right: 2vw;
    }

    .scope-item > * {
        font-size: calc(1rem + 2vw);
        text-align: center;
    }

    .services{
        flex-direction: column;
        align-items: center;
        gap: 1vh;
        width: 100%;
        margin: 0 auto;
    }

    .services-header{
        width: 85%;
        text-align: center;
    }

    .services-content-spread > * {
        text-align: center;
    }

    .services-image {
        width: 80vw;
    }

    .services-content {
        align-items: center;
    }

    .services-content-spread{
        flex-direction: column;
        align-items: center;
        gap: 1vh;
        width: 100%;
    }
    
    .services-left{
        width: 80%;
    }

    .services-right{
        width: 80%;
        max-height: none;
    }

    .custom-list {
        text-align: start;
    }

    .custom-list li {
        margin-top: 1vh;
        font-size: 1rem;
        gap: 5vw;
    }
    
    .services-icon {
        font-size: calc(1rem + 5vw);
    }
    
    .packages-header-subheading {
        text-align: center;
        max-width: none;
        width: 80vw;
    }

    .packages-cards {
        flex-direction: column;
        width: 90vw;
        align-items: center;
        gap: 2vh;
    }
    .packages-card {
        width: 80%;
        margin: 0;
    }

    .community-content{
        flex-direction: column;
        width: 90vw;
        align-items: center;
        gap: 5vh;
    }
    
    .community-left{
        align-items: center;
    }
    
    .community-right {
        align-items: center;
        width: 90vw;
    }

    .community-right > * {
        text-align: center;
    }

    .community-image {
        width: 60vw;
    }

    .mobile-content{
        flex-direction: column;
        gap: 4vh;
        align-items: center;
        width: 100%;
    }

    .mobile-left{
        width: 70%
    }

    .mobile-left > * {
        text-align: center;
    }

    .mobile-right {
        width: 70%;
    }

    .mobile-features {
        display: none;
    }

    .mobile-features-small {
        display: block;
        width: 80vw;
    }

    .footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: flex;
        width: 100%;
    }

    .footer-action {
        width: 50%;
        margin-bottom: 2vh;
    }

    .footer-icon {
        width: 70%;
        margin: 0 0;
    }

    .footer-button {
        width: 100%;
        margin-top: 3vh;
        margin-right: 0;
    }

    .nav-and-nav {
        flex-direction: column;
        align-items: center;
        width: 60%;
        gap: 2vh;
    }

    .nav-and-nav > * {
        text-align: center;
        width: 80%;
    }

    

    .services-text-heading {
        font-size: calc(1rem + 2vw);
    }
    .services-text-body {
        font-size: calc(1rem + .25vw);
    }

    .packages-footer > * {
        font-size: calc(1rem + .25vw);
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
    /* CSS rules for small devices */

    .hero-diagram{
        width: 85vw;
        height: auto;
        margin-bottom: 5vh;
    }

    .scope-items {
        flex-direction: column;
        align-items: center;
        gap: 2vh;
    }

    .scope-item {
        width: 80%;
        margin-left: 2vw;
        margin-right: 2vw;
    }

    .scope-item > * {
        font-size: calc(1rem + 10vw);
        text-align: center;
    }

    .services{
        flex-direction: column;
        align-items: center;
    }

    .services-content{
        align-items: center;
    }

    .packages-card {
        margin: 2.5vw;  /* or any suitable margin */
        padding: 1vw;
        width: 45vw;  /* or any suitable padding */
    }

    .mobile-content{
        flex-direction: column;
        gap: 4vh;
        align-items: center;
        width: 100%;
    }

    .mobile-left{
        width: 70%
    }

    .mobile-left > * {
        text-align: center;
    }

    .mobile-right {
        width: 70%;
    }

    .mobile-features {
        display: none;
    }

    .mobile-features-small {
        display: block;
    }

    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    /* CSS rules for medium devices */

    .hero-diagram {
        width: 90vw;
        margin-bottom: none;
    }

    .scope-header {
        font-size: calc(1rem + 1vw);
    }

    .scope-item {
        border: var(--primary-color) 2px solid;

    }

    .scope-item > * {
        font-size: calc(1rem + 1vw);
    }

    .packages-card {
        margin: 2vw;  /* or any suitable margin */
        padding: 1vw;
        width: 45vw;  /* or any suitable padding */
    }
    
} 


